name: Hello World!

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: windows-latest
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
      - name: Print Date
        run: |
          Get-Date
      - name: Print directories
        run: |
          dir